<nav class="navbar navbar-expand-md navbar-dark bg-black-custom mb-4" id="main-nav">
  <div class="container">
    <a routerLink="/" class="navbar-brand text-white">
      <img class="d-none d-sm-inline" src="assets/images/favicon-256.png" id="brand-logo" alt="">
      <span> Cric Poll</span>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a routerLink="/sign-up" class="nav-link">Sign Up</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a routerLink="/sign-in" class="nav-link">Sign In</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <span class="nav-link">{{currentUserEmail}}</span>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a (click)="onSignOut()" class="nav-link">Sign Out</a>
        </li>
        <li class="nav-item">
          <a routerLink="/create-poll" class="nav-link">Create A Poll</a>
        </li>
        <!-- <li class="nav-item">
          <span (click)="onTestClick()" class="nav-link">Test</span>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
