<div class="row mb-5">
  <div class="col-md-6 mx-auto">
    <div class="card bg-info text-black-custom">
      <div class="card-body">
        <h1 class="text-center text-white">
          <i class="fas fa-lock"></i> Cric Poll
          <span class="text-black-custom">Login</span>
        </h1>
        <form #signInForm="ngForm" (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" #emailInput="ngModel" [ngClass]="{'is-invalid': emailInput.errors && emailInput.touched }"
              [(ngModel)]="email" required>
            <div class="invalid-feedback" [hidden]="!emailInput.errors?.required">Email Required</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" #passwordInput="ngModel" [ngClass]="{'is-invalid': passwordInput.errors && passwordInput.touched }"
              [(ngModel)]="password" required>
            <div class="invalid-feedback" [hidden]="!passwordInput.errors?.required">Password Required</div>
          </div>
          <input type="submit" [disabled]="signInForm.form.invalid" class="btn btn-dark bg-black-custom btn-block" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
